<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome</h1>
    <a href="/login" class="btn btn-default">Log in</a>
    <a href="/signup" class="btn btn-default">Sign up</a>
  </div>
</div>